.footer {
  text-align: center;
  margin: 3rem 0;
}

.footer-button {
  display: block;
  margin: 0 auto;
  background-color: $blue-light;
  color: #333;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.footer-button:hover {
  background-color: $blue-light;
}
