.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
}

.nav {
  /* Styles pour la navigation */
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 2rem;
}

.nav-item {
  margin-right: 20px; /* Ajustez selon vos besoins */
}

.logo {
  width: 5vw;
}
