.main-content {
  padding: 20px;
}

/* WorkoutsFind component styles */
.workouts-find {
  max-width: 800px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.workouts-find__button {
  position: absolute;
  left: 1rem;
  top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.workouts-find__button:hover {
  color: $bg-300;
}

.workouts-find__title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.workouts-find__form {
  margin-bottom: 20px;
}

.workouts-find__input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

.workouts-find__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}

.workouts-find__workout {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid $bg-100;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.workouts-find__workout-title {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.workouts-find__workout-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.workouts-find__warning {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 4px;
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .workouts-find__container {
    grid-template-columns: 1fr;
  }
}
